<header class="site-header">
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{{site.baseurl}}/">
          <img width="340px" src="{{site.baseurl}}/images/logoface-title.png" alt="{{site.title}}">
        </a>
    </div>
    
      
    <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="nav navbar-nav navbar-right collapse navbar-collapse" style="padding-right:0px;" id="bs-example-navbar-collapse-1">
      <li><a href="{{site.baseurl}}/about/">Rólunk</a></li>
      <li><a href="{{site.baseurl}}/#services">Szolgáltatások</a></li>
      <li><a href="#contact">Kapcsolat</a></li>
    </ul><!-- /.navbar-collapse -->
  
    <ul class="nav navbar-nav navbar-right">
      <li><a class="phone" href="tel:+36-30-941-5341" onclick="return gtag_report_conversion_tel('tel:+36-30-941-5341')">
        <i class="fa fa-phone"></i> +36&nbsp;30 941&nbsp;5341
      </a></li>
      <li><a class="facebook" href="https://www.facebook.com/KlasszTeherKoltoztetes/">
        <i class="fa fa-facebook-square"></i>
      </a></li>
    </ul>
    
  </div><!-- /.container-fluid -->
</nav>
</header>
