.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

section {
    scroll-behavior: smooth;
}

.section {
    border-bottom: 3px solid;
    border-bottom-color: black;
    background-color: white;   
    h2 {
        color: $brand-color;
    } 
}

.section, #disclaimer {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 20px;
    padding-left: 20px;
    @media (min-width: 768px) {
        padding-right: 80px;
        padding-left: 80px;
    }
}

#disclaimer {
    font-size: 120%;
}

footer {
    color:$brand-color;
    background-color: white;
    padding-bottom: 100px;
}

body {
    background-color: $background-color;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: white;
}

.card-body {
    padding: 20px;
    min-height: 260px;
}

.phone {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    @media (min-width: 768px) {
        font-size: 120%;
    }
}

header a.phone {
    font-size: 200%;
    text-align: center;
    max-width: 300px;
}

a.facebook {
    font-size: 200%;
    text-align: center;
    max-width: 300px;
}

@media (min-width: 768px) {
    header .container {
        min-width: 780px;
        max-width: 970px;
    }
    .container {
        max-width: 970px;
    }
}

.price {
    color: $brand-color;
    font-weight: bold;
}